# {{ ansible_managed }}
{% set definemerged = set_define_default.copy() %}
{% set _ = definemerged.update(set_define_group) %}
{% set _ = definemerged.update(set_define_host) %}

{% for definition in definemerged.values() %}
  {% if definition.desc is defined %}
# {{ definition.desc }}
  {% else %}
# {{ definition.name }}
  {% endif %}
define {{ definition.name }} = {{ definition.value }}

{% endfor %}
